/* Header.css */
.nav {
    position: fixed; /* Ensure the navbar stays at the top */
    top: 0; /* Align it to the top */
    left: 0;
    right: 0;
    z-index: 50; /* High z-index to ensure it is above other elements */
  }
  

.fixed {
    z-index: 30; /* Ensure the mobile menu is above everything */
    opacity: 0; /* Start hidden */
    transform: translateY(-100%); /* Move it out of view */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Transition for smooth opening */
  }
  
  .fixed.open {
    opacity: 1; /* Make it visible */
    transform: translateY(0); /* Move it into view */
  }
  
  .fixed.closed {
    opacity: 0; /* Make it hidden */
    transform: translateY(-100%); /* Move it out of view */
  }
  
  .close-icon {
    z-index: 40; /* Ensure the close icon is above everything */
    position: absolute; /* Position it absolutely */
    top: 16px; /* Adjust as needed */
    right: 16px; /* Adjust as needed */
  }
  
  

@media (max-width : 700px) {
    
    header { 
        padding: 4px;
    }
    .logo h1{
        font-size: 18px;
    }
}